/* Tienen por defecto display block */
.div-1, .div-2{
    background-color: deeppink;
}
/* Tienen por defecto display inline no se puede modificar tamaño*/
.span-1{
    background-color: blueviolet;
}

.span-2{
    background-color: blueviolet;
    float: left;
}
/* Tiene por defecto inline-block, se puede modificar altura y anchura */
.img{
    width: 100px;
    height: 50px;
}