/*Flex: Distribuye sus items ocupando el minimo prosible */
/* codepen.io */
.contenedor{
    background-color: yellow;
    padding:0.25rem;
    display: flex;
    gap:0.5rem;
    min-height: 5rem;
    justify-content: space-around;
    align-items: center;
    /* El eje principal utiliza justify-contenty el eje secundario utiliza aling-items*/
    flex-direction: row;
    /* envuelve */
    flex-wrap: wrap;
}
.item{
    background-color: salmon;
    padding:0.25rem;
    width: 10rem;
}
.item2{
    align-self: stretch;
}