.padre{
    width: 400px;
    height: 400px;
    background-color: blue;
}
.hijo{
    width: 50%;
    height: 50%;
    background-color: beige;
    /* transition: transform 1s ease-in 2s; */
    animation:traslacion 2s ease-in-out infinite forwards alternate;
}
.padre:hover .hijo{
    animation-play-state: paused;
    /* transform: translateX(100%);
    background-color: lightblue; */
}
@keyframes traslacion{
    0%{
        transform:translateX(0%);
    }
    25%{
        transform:translateX(100%);
    }
    50%{
        transform:translateX(100%) translateY(100%);
    }
    75%{
        transform: translateX(0%) translateY(100%);
    }
    100%{
        transform: translateX(0%) translateY(0%);
    }
}

/* @keyframes traslacion{
    0%{
        background-color: beige;
        transform:translateX(0%);
    }
    50%{
        background-color:lightblue;
        transform:translateX(10%) translateY(50%);
    }
    100%{
        background-color: fuchsia;
        transform: translateX(100%);
    }
} */