@use "mixins";

body{
    padding: 0;
    margin:0;
}
.container{
    width: 100%;
    background-color: burlywood;
    min-height: 100vh;
    padding: 0.5rem;
}
h1{
    margin: 0;
    @include mixins.formato-texto(lightblue);
}
p{
    @include mixins.formato-texto(lightcoral);
}
.listado{
    width: 10rem;
    background-color: lightgreen;
    padding:0.5rem;

    ul{
        margin: 0 0.5rem;

        li{
            list-style-type: georgian;
            &:hover{
                color:white;
            }
        }
    }
}
